$light: #fff;
$hunger: #FFA500;
$health: #116b25;
$education: #a31010;
$primary-color: #008000;
$secondary-color: #1bbb1b;
$success: #1bbb1b;
$black: #008000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Roboto', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';

